body {
    background-color: black;
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 16px;
}
.wrapper {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    padding: 15px;
    overflow: hidden;
}

.description {
    padding: 8px;
    text-align: left;
    color: yellow;
    border: 2px solid yellow;
    background-color: black;
}

.image {
    width: 100%;
    height: 100%;
}

.blur {
    backdrop-filter: blur(6px);
}
footer {
    height:50px;
    background-color: yellow;
    color:black;
    text-align: center;
    padding: 10px 0;
}
header {
    top: 0;
    position: fixed;
    width: 100%;
    height:30px;
    background-color: yellow;
    color: black;
    padding: 10px 20px;
}
.logo {
    font-size: 24px;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu ul li {
    display: inline-block;
    margin-right: 20px;
}

.menu ul li:last-child {
    margin-right: 0;
}

.menu ul li a {
    color: black;
    text-decoration: none;
}

.burger-menu {
    display: none;
}

/* Стили для мобильного экрана */
@media only screen and (max-width: 768px) {
    .menu ul {
        display: none;
    }

    .burger-menu {
        display: block;
    }

    .burger-menu div {
        width: 25px;
        height: 3px;
        background-color: black;
        margin: 5px;
    }
}
nav {
    width: calc(100% - 40px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.reviews-wrapper{
    color:yellow;
    border: 2px solid yellow;
}
.review{
    border: 2px solid yellow;
}
.review-input{
    background: black;
    color:yellow;
    position: relative;
    max-width: calc(100% - 30px);
}